.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}