* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 5px;
    border: 2px solid black;
}

#child_mid {
    display: flex;
    align-items: center;
}