body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://img.jagranjosh.com/images/2022/September/692022/Countries%20and%20Currencies%20of%20the%20World.jpg);
    background-size: cover;
}

.converter {
    background-color: rgb(206, 203, 203);
    border-radius: 10px;
    padding: 20px;
}

button {
    margin-top: 10px;
}

#result {
    font-size: 18px;
    font-weight: bold;
}